# Terraformのプロバイダやモジュールキャッシュ
.terraform/
**/.terraform/

# Terraform lockファイル（環境別に生成されることがある場合）
.terraform.lock.hcl
**/.terraform.lock.hcl

# Terraform stateファイル
terraform.tfstate
terraform.tfstate.*
**/terraform.tfstate
**/terraform.tfstate.*

# 自動バックアップや tfvars
*.tfstate.backup

#macOSに由来するファイル
.DS_Store
